@charset "UTF-8";
@font-face {
  font-family: "Android";
  src: url("../fontes/idroid.otf") format(opentype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fontes/bebas_neue/BebasNeue-Regular.otf") format(opentype);
}

:root {
  /* delcarando variáveis no css (:root{}) toda variável com (--) e (;)*/
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --cor6: magenta;
  --fonte-padrão: Arial, verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas";
  --fonte-android: "Android";
}

/* quando se usa *{} a configuração vale para todos os elementos.*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrão);
  /* .container-b{} */
}
header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  width: 100%;
  font-family: var(--fonte-destaque);
  height: 95px;
}
header h1{
    padding-top: 5px;
}

header p {
  text-align: center;
  font-family: var(--fonte-padrão);
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
}
#titulo {
  color: white;
  font-family: var(--fonte-destaque);
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
}
h1 {
  text-align: left;
  font-family: var(--fonte-android);
  color: var(--cor4);
}
h2 {
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
}
h3 {
  font-family: var(--fonte-padrão);
  color: var(--cor4);
}
nav {
  display: flex;
  justify-content: center;
  background-color: var(--cor5);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
a.externo::after {
  content: "\00a0\1f517";
}
nav > a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.3s;
}

main {
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  margin: 0px auto 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor2);
  background-color: black;
  padding: 2px 6px;
  border-radius: 5px;
}
div.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
}
div > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
img {
  width: 100%;
}
#peq {
  max-width: 150px;
}

a:hover {
  text-decoration: underline;
  background-color: var(--cor4);
  color: white;
  border-radius: 4px;
}
abbr {
  text-decoration: none;
}

#robozinho {
  max-width: 350px;
  display: block;
  margin: auto;
}
ul {
  margin-left: 80px;
  columns: 2;
  list-style-type: "\2714\00A0\00a0";
}

li {
  font-weight: 600;
}
strong {
  color: var(--cor4);
  font-weight: bold;
  background-color: var(--cor1);
}
aside {
  background-color: var(--cor1);
  padding: 25px;
  border-radius: 10px;
  max-width: 760px;
  margin: auto;
  color: black;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
}
aside > p {
  text-align: justify;
}
aside strong {
  background-color: var(--cor4);
  color: var(--cor1);
}
aside > h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -25px -26px 0px -25px;
  border-radius: 10px 10px 0px 0px;
}

footer {
  padding: 10px;
  background-color: rgba(18, 43, 18, 0.863);
  text-align: center;
  color: white;
}
footer > span {
  font-family: "Times New Roman, serif";
  color: var(--cor6);
  font-weight: 700;
}
